# Extracting Data from HereMaps (here.com)
<br>

_Author: Bala Krishnamoorthy_

#### Goal

Access here.com's api to extract information on road closures, incidents, etc.

### Contents

### Summary

To be completed...

### Data Gathering

In [1]:
# Import Libraries

import json, requests
import time, datetime
import pandas as pd

# Viewing configs for notebook
%matplotlib inline
%config InlineBackend.print_figure_kwargs={'facecolor' : 'w'}
# Code below allows multiple console outputs to be generated without print statements
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# Imports my API credentials stored locally. These are **not** publically available. To use
# the API access code below, please create your own access credentials on here.com and execute
# the code below. 
import config

In [3]:
# Lat,Long Coordinates for Boston

# top_left = '42.366,-71.066'
# bottom_right = '42.329,-71.033'

# Bounding Box Coordinates - test case for larger area
west_south_east_north = '-122.384674,47.515083,-122.118271,47.644727' # Seattle + Bellevue
top_left = '47.644727,-122.384674'
bottom_right = '47.515083,-122.118271'

In [4]:
url = 'https://traffic.api.here.com/traffic/6.3/\
incidents.json?app_id=' + config.app_id + '&app_code=' + config.app_code + '&bbox=' + \
top_left + ';' + bottom_right
url;

In [7]:
res = requests.get(url)
date_requested = time.strftime('%Y-%m-%d')
time_requested = time.strftime('%H:%M') # 24-hour format
date_requested; time_requested

'2019-01-15'

'23:56'

In [8]:
res.status_code

200

In [9]:
hmaps_json = res.json()
hmaps_json;

In [10]:
# Inspect json file
hmaps_json.keys()
hmaps_json['TRAFFIC_ITEMS'].keys()
hmaps_json['diagnostic'].keys()
hmaps_json['TRAFFIC_ITEMS']['TRAFFIC_ITEM'];

In [11]:
incident_dict = hmaps_json['TRAFFIC_ITEMS']['TRAFFIC_ITEM']
incident_dict[0].keys()

dict_keys(['TRAFFIC_ITEM_ID', 'ORIGINAL_TRAFFIC_ITEM_ID', 'TRAFFIC_ITEM_STATUS_SHORT_DESC', 'TRAFFIC_ITEM_TYPE_DESC', 'START_TIME', 'END_TIME', 'ENTRY_TIME', 'CRITICALITY', 'VERIFIED', 'ABBREVIATION', 'RDS-TMC_LOCATIONS', 'LOCATION', 'TRAFFIC_ITEM_DETAIL', 'TRAFFIC_ITEM_DESCRIPTION', 'mid', 'PRODUCT'])

In [12]:
incident_df = pd.DataFrame(incident_dict)
incident_df.head()

,ABBREVIATION,COMMENTS,CRITICALITY,END_TIME,ENTRY_TIME,LOCATION,ORIGINAL_TRAFFIC_ITEM_ID,PRODUCT,RDS-TMC_LOCATIONS,START_TIME,TRAFFIC_ITEM_DESCRIPTION,TRAFFIC_ITEM_DETAIL,TRAFFIC_ITEM_ID,TRAFFIC_ITEM_STATUS_SHORT_DESC,TRAFFIC_ITEM_TYPE_DESC,VERIFIED,mid
0,"{'SHORT_DESC': 'CONST', 'DESCRIPTION': 'constr...",NaN,"{'ID': '2', 'DESCRIPTION': 'minor'}",01/19/2019 22:19:40,01/15/2019 22:20:19,{'DEFINED': {'ORIGIN': {'ROADWAY': {'DESCRIPTI...,3329005137064396495,basic,{'RDS-TMC': [{'ORIGIN': {'EBU_COUNTRY_CODE': '...,01/15/2019 22:20:19,[{'value': 'At Denny Way - Construction work. ...,"{'ROAD_CLOSED': False, 'EVENT': {'EVENT_ITEM_C...",3329005137064396495,ACTIVE,CONSTRUCTION,True,NAVTEQ/r_NAVTEQ/11451474_TIC/NAVTEQ_original|1...
1,"{'SHORT_DESC': 'CONST', 'DESCRIPTION': 'constr...",NaN,"{'ID': '0', 'DESCRIPTION': 'critical'}",01/16/2019 12:19:40,01/16/2019 07:20:11,{'DEFINED': {'ORIGIN': {'ROADWAY': {'DESCRIPTI...,711498208559921547,basic,{'RDS-TMC': [{'ORIGIN': {'EBU_COUNTRY_CODE': '...,01/16/2019 07:20:11,[{'value': 'Ramp closed to Royal Brougham Way...,"{'ROAD_CLOSED': True, 'EVENT': {'EVENT_ITEM_CA...",1430889561253725387,ACTIVE,CONSTRUCTION,True,NAVTEQ/r_NAVTEQ/11435229_TIC/NAVTEQ|1547623204097
2,"{'SHORT_DESC': 'CONST', 'DESCRIPTION': 'constr...",one or more lanes blocked,"{'ID': '1', 'DESCRIPTION': 'major'}",01/20/2019 05:01:13,01/16/2019 05:01:26,{'DEFINED': {'ORIGIN': {'ROADWAY': {'DESCRIPTI...,4531023301843347900,basic,{'RDS-TMC': [{'ORIGIN': {'EBU_COUNTRY_CODE': '...,01/16/2019 05:01:26,"[{'value': 'At Ward St - Construction work.', ...","{'ROAD_CLOSED': False, 'EVENT': {'EVENT_ITEM_C...",4531023301843347900,ACTIVE,CONSTRUCTION,True,NAVTEQ/r_NAVTEQ/11459541_TIC/NAVTEQ|1547614873538
3,"{'SHORT_DESC': 'CONST', 'DESCRIPTION': 'constr...",NaN,"{'ID': '0', 'DESCRIPTION': 'critical'}",01/16/2019 12:19:40,01/16/2019 07:20:11,{'DEFINED': {'ORIGIN': {'ROADWAY': {'DESCRIPTI...,281138722354306851,basic,{'RDS-TMC': [{'ORIGIN': {'EBU_COUNTRY_CODE': '...,01/16/2019 07:20:11,[{'value': 'Closed at WA-99/Alaskan Way - Clos...,"{'ROAD_CLOSED': True, 'EVENT': {'EVENT_ITEM_CA...",1634394481622102288,ACTIVE,CONSTRUCTION,True,NAVTEQ/r_NAVTEQ/11451457_TIC/NAVTEQ|1547623204097
4,"{'SHORT_DESC': 'CONST', 'DESCRIPTION': 'constr...",NaN,"{'ID': '0', 'DESCRIPTION': 'critical'}",01/16/2019 12:19:40,01/16/2019 07:20:11,"{'INTERSECTION': {'ORIGIN': {'ID': '', 'STREET...",1689428917782989697,basic,NaN,01/16/2019 07:20:11,[{'value': 'Closed at Bel-Red Rd/NE Bellevue R...,"{'ROAD_CLOSED': True, 'EVENT': {'EVENT_ITEM_CA...",3266721938177711516,ACTIVE,CONSTRUCTION,True,NAVTEQ/r_NAVTEQ/10985392_TIC/NAVTEQ|1547623204097

In [13]:
# Number of entries in specified bounding box
num_incidents = incident_df.shape[0]
num_incidents

29

In [15]:
incident_df_2 = incident_df.drop(axis=1, columns=['ABBREVIATION', 'ORIGINAL_TRAFFIC_ITEM_ID', 'PRODUCT', 
                                  'TRAFFIC_ITEM_ID', 'mid'])
incident_df_2.head()

,COMMENTS,CRITICALITY,END_TIME,ENTRY_TIME,LOCATION,RDS-TMC_LOCATIONS,START_TIME,TRAFFIC_ITEM_DESCRIPTION,TRAFFIC_ITEM_DETAIL,TRAFFIC_ITEM_STATUS_SHORT_DESC,TRAFFIC_ITEM_TYPE_DESC,VERIFIED
0,NaN,"{'ID': '2', 'DESCRIPTION': 'minor'}",01/19/2019 22:19:40,01/15/2019 22:20:19,{'DEFINED': {'ORIGIN': {'ROADWAY': {'DESCRIPTI...,{'RDS-TMC': [{'ORIGIN': {'EBU_COUNTRY_CODE': '...,01/15/2019 22:20:19,[{'value': 'At Denny Way - Construction work. ...,"{'ROAD_CLOSED': False, 'EVENT': {'EVENT_ITEM_C...",ACTIVE,CONSTRUCTION,True
1,NaN,"{'ID': '0', 'DESCRIPTION': 'critical'}",01/16/2019 12:19:40,01/16/2019 07:20:11,{'DEFINED': {'ORIGIN': {'ROADWAY': {'DESCRIPTI...,{'RDS-TMC': [{'ORIGIN': {'EBU_COUNTRY_CODE': '...,01/16/2019 07:20:11,[{'value': 'Ramp closed to Royal Brougham Way...,"{'ROAD_CLOSED': True, 'EVENT': {'EVENT_ITEM_CA...",ACTIVE,CONSTRUCTION,True
2,one or more lanes blocked,"{'ID': '1', 'DESCRIPTION': 'major'}",01/20/2019 05:01:13,01/16/2019 05:01:26,{'DEFINED': {'ORIGIN': {'ROADWAY': {'DESCRIPTI...,{'RDS-TMC': [{'ORIGIN': {'EBU_COUNTRY_CODE': '...,01/16/2019 05:01:26,"[{'value': 'At Ward St - Construction work.', ...","{'ROAD_CLOSED': False, 'EVENT': {'EVENT_ITEM_C...",ACTIVE,CONSTRUCTION,True
3,NaN,"{'ID': '0', 'DESCRIPTION': 'critical'}",01/16/2019 12:19:40,01/16/2019 07:20:11,{'DEFINED': {'ORIGIN': {'ROADWAY': {'DESCRIPTI...,{'RDS-TMC': [{'ORIGIN': {'EBU_COUNTRY_CODE': '...,01/16/2019 07:20:11,[{'value': 'Closed at WA-99/Alaskan Way - Clos...,"{'ROAD_CLOSED': True, 'EVENT': {'EVENT_ITEM_CA...",ACTIVE,CONSTRUCTION,True
4,NaN,"{'ID': '0', 'DESCRIPTION': 'critical'}",01/16/2019 12:19:40,01/16/2019 07:20:11,"{'INTERSECTION': {'ORIGIN': {'ID': '', 'STREET...",NaN,01/16/2019 07:20:11,[{'value': 'Closed at Bel-Red Rd/NE Bellevue R...,"{'ROAD_CLOSED': True, 'EVENT': {'EVENT_ITEM_CA...",ACTIVE,CONSTRUCTION,True

In [16]:
incident_df_2.rename(str.lower, axis=1, inplace=True)
incident_df_2.columns

Index(['comments', 'criticality', 'end_time', 'entry_time', 'location',
       'rds-tmc_locations', 'start_time', 'traffic_item_description',
       'traffic_item_detail', 'traffic_item_status_short_desc',
       'traffic_item_type_desc', 'verified'],
      dtype='object')

In [17]:
loc_all = pd.DataFrame(list(incident_df_2['location']))
loc_all.rename(str.lower, axis=1, inplace=True)
loc_all.head()

,defined,geoloc,intersection,length,navtech,political_boundary,tpegopenlrbase64
0,{'ORIGIN': {'ROADWAY': {'DESCRIPTION': [{'valu...,"{'ORIGIN': {'LATITUDE': 47.61422, 'LONGITUDE':...",NaN,0.48780,"{'EDGE': {'EDGE_ID': ['874990446', '874990447'...",NaN,CCkBEAAlJKj/RyHb4AAJBQQCAREACgUEAoYoAAGXAnMACQ...
1,{'ORIGIN': {'ROADWAY': {'DESCRIPTION': [{'valu...,"{'ORIGIN': {'LATITUDE': 47.5924, 'LONGITUDE': ...",NaN,0.07447,"{'EDGE': {'EDGE_ID': ['869221646', '913190490'...",NaN,CCgBEAAkI6kBgSHX7wAJBQQCBgoACgQDAngAADoAZAAJBQ...
2,{'ORIGIN': {'ROADWAY': {'DESCRIPTION': [{'valu...,"{'ORIGIN': {'LATITUDE': 47.628912, 'LONGITUDE'...",NaN,0.11732,"{'EDGE': {'EDGE_ID': ['724561501', '1218583191...",NaN,CCkBEAAlJKkABiHeuwAJBQQCAoAACgUEAoE8AP///1YACQ...
3,{'ORIGIN': {'ROADWAY': {'DESCRIPTION': [{'valu...,"{'ORIGIN': {'LATITUDE': 47.60486, 'LONGITUDE':...",NaN,0.13215,"{'EDGE': {'EDGE_ID': ['773876192', '773876193'...",NaN,CCkBEAAlJKkA2SHaMwAJBQQDBvcACgUEA4FWAACaAH8ACQ...
4,NaN,"{'ORIGIN': {'LATITUDE': 47.62788, 'LONGITUDE':...","{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...",0.26498,"{'EDGE': {'EDGE_ID': ['21067073']}, 'VERSION_I...","{'METRO_AREA': {'value': '', 'ID': 31}, 'COUNT...",CCkBEAAlJKkh9SHeaQAJBQQEA44ACgUEBIMqAP86/psACQ...

In [19]:
# Fill NaN Values with empty dictionaries so that dataframes can continue to be created
loc_all = loc_all.applymap(lambda x: {} if pd.isnull(x) else x)
loc_all.head()

,defined,geoloc,intersection,length,navtech,political_boundary,tpegopenlrbase64
0,{'ORIGIN': {'ROADWAY': {'DESCRIPTION': [{'valu...,"{'ORIGIN': {'LATITUDE': 47.61422, 'LONGITUDE':...",{},0.48780,"{'EDGE': {'EDGE_ID': ['874990446', '874990447'...",{},CCkBEAAlJKj/RyHb4AAJBQQCAREACgUEAoYoAAGXAnMACQ...
1,{'ORIGIN': {'ROADWAY': {'DESCRIPTION': [{'valu...,"{'ORIGIN': {'LATITUDE': 47.5924, 'LONGITUDE': ...",{},0.07447,"{'EDGE': {'EDGE_ID': ['869221646', '913190490'...",{},CCgBEAAkI6kBgSHX7wAJBQQCBgoACgQDAngAADoAZAAJBQ...
2,{'ORIGIN': {'ROADWAY': {'DESCRIPTION': [{'valu...,"{'ORIGIN': {'LATITUDE': 47.628912, 'LONGITUDE'...",{},0.11732,"{'EDGE': {'EDGE_ID': ['724561501', '1218583191...",{},CCkBEAAlJKkABiHeuwAJBQQCAoAACgUEAoE8AP///1YACQ...
3,{'ORIGIN': {'ROADWAY': {'DESCRIPTION': [{'valu...,"{'ORIGIN': {'LATITUDE': 47.60486, 'LONGITUDE':...",{},0.13215,"{'EDGE': {'EDGE_ID': ['773876192', '773876193'...",{},CCkBEAAlJKkA2SHaMwAJBQQDBvcACgUEA4FWAACaAH8ACQ...
4,{},"{'ORIGIN': {'LATITUDE': 47.62788, 'LONGITUDE':...","{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...",0.26498,"{'EDGE': {'EDGE_ID': ['21067073']}, 'VERSION_I...","{'METRO_AREA': {'value': '', 'ID': 31}, 'COUNT...",CCkBEAAlJKkh9SHeaQAJBQQEA44ACgUEBIMqAP86/psACQ...

In [20]:
loc_region = pd.DataFrame(list(loc_all['political_boundary']))
loc_region.rename(str.lower, axis=1, inplace=True)
loc_region.head()

  county               metro_area municipality
0    NaN                      NaN          NaN
1    NaN                      NaN          NaN
2    NaN                      NaN          NaN
3    NaN                      NaN          NaN
4   King  {'value': '', 'ID': 31}          NaN

In [22]:
loc_intersec = pd.DataFrame(list(loc_all['intersection']))
loc_intersec.rename(str.lower, axis=1, inplace=True)
loc_intersec.head()

,origin,to
0,NaN,NaN
1,NaN,NaN
2,NaN,NaN
3,NaN,NaN
4,"{'ID': '', 'STREET1': {'ADDRESS1': '136th Pl N...","{'ID': '', 'STREET1': {'ADDRESS1': '136th Pl N..."

In [23]:
loc_coord = pd.DataFrame(list(loc_all['geoloc']))
loc_coord.rename(str.lower, axis=1, inplace=True)
loc_coord.head()

,geometry,origin,to
0,NaN,"{'LATITUDE': 47.61422, 'LONGITUDE': -122.3476}","[{'LATITUDE': 47.620207, 'LONGITUDE': -122.343..."
1,NaN,"{'LATITUDE': 47.5924, 'LONGITUDE': -122.33549}","[{'LATITUDE': 47.5934, 'LONGITUDE': -122.33491}]"
2,NaN,"{'LATITUDE': 47.628912, 'LONGITUDE': -122.34362}","[{'LATITUDE': 47.628249, 'LONGITUDE': -122.343..."
3,NaN,"{'LATITUDE': 47.60486, 'LONGITUDE': -122.3391}","[{'LATITUDE': 47.60613, 'LONGITUDE': -122.33756}]"
4,"{'SHAPES': {'SHP': [{'value': '47.62798,-122.1...","{'LATITUDE': 47.62788, 'LONGITUDE': -122.157232}","[{'LATITUDE': 47.624456, 'LONGITUDE': -122.159..."

### Outputs

**Potential Additional Updates**:
- Ask user to input country, city to while defining bbox 
- Additional columns:
    - Type of incident (planned, unplanned (blocked by tree, power failure, etc.))

In [26]:
# Instantiate an empty dataframe that captures only the columns of interest
columns = ['bbox_top_left', 'bbox_bottom_right', 'date_requested', 'time_requested', 
           'municipality', 'source', 'criticality', 'intersection', 'start_lat_long', 
           'end_lat_long', 'start_time', 'end_time', 'entry_time']
output_df = pd.DataFrame(index=incident_df_2.index, columns=columns)
output_df.fillna('');

In [27]:
output_df.head()

,bbox_top_left,bbox_bottom_right,date_requested,time_requested,municipality,source,criticality,intersection,start_lat_long,end_lat_long,start_time,end_time,entry_time
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Populate the Outputs dataframe using data from HereMaps**

In [28]:
for index in incident_df_2.index:
    # Incident-Agnostic Parameters
    output_df['bbox_top_left'][index] = str(tuple(top_left.split(',')))
    output_df['bbox_bottom_right'][index] = str(tuple(bottom_right.split(',')))
    output_df['date_requested'][index] = date_requested
    output_df['time_requested'][index] = time_requested
    output_df['source'][index] = 'Here Maps API'
    # Incident-Specific Parameters
    if pd.isna(loc_region['municipality'][index]) == False:
        output_df['municipality'][index] = loc_region['municipality'][index]['NAME'] 
    else:
        output_df['municipality'][index] = '-'
    if pd.isna(incident_df_2['criticality'][index]) == False:
        output_df['criticality'][index] = incident_df_2['criticality'][index]['DESCRIPTION']
    else:
        output_df['criticality'][index] = '-'
    if pd.isna(loc_coord['origin'][index]) == False:
        output_df['start_lat_long'][index] = tuple([loc_coord['origin'][index]['LATITUDE'],
                                   loc_coord['origin'][index]['LONGITUDE']])
    else: 
        output_df['start_lat_long'][index] = '-'
    if pd.isna(loc_coord['to'][index][0]) == False:
        output_df['end_lat_long'][index] = tuple([loc_coord['to'][index][0]['LATITUDE'],
                                 loc_coord['to'][index][0]['LONGITUDE']])
    else:
        output_df['end_lat_long'][index] = '-'
    output_df['intersection'][index] = loc_all['intersection'][index]
    output_df['start_time'][index] = incident_df_2['start_time'][index]
    output_df['end_time'][index] = incident_df_2['end_time'][index]
    output_df['entry_time'][index] = incident_df_2['entry_time'][index]

In [29]:
# Final Output DataFrame
output_df

,bbox_top_left,bbox_bottom_right,date_requested,time_requested,municipality,source,criticality,intersection,start_lat_long,end_lat_long,start_time,end_time,entry_time
0,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,minor,{},"(47.61422, -122.3476)","(47.620207, -122.343644)",01/15/2019 22:20:19,01/19/2019 22:19:40,01/15/2019 22:20:19
1,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,{},"(47.5924, -122.33549)","(47.5934, -122.33491)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
2,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,major,{},"(47.628912, -122.34362)","(47.628249, -122.34363)",01/16/2019 05:01:26,01/20/2019 05:01:13,01/16/2019 05:01:26
3,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,{},"(47.60486, -122.3391)","(47.60613, -122.33756)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
4,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,"{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...","(47.62788, -122.157232)","(47.624456, -122.159102)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
5,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,{},"(47.60656, -122.33646)","(47.60613, -122.33756)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
6,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,{},"(47.57109, -122.34508)","(47.57138, -122.34002)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
7,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,"{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...","(47.635163, -122.132435)","(47.634251, -122.136404)",06/14/2018 18:00:00,03/01/2019 18:30:00,01/15/2019 22:18:52
8,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,Seattle,Here Maps API,critical,"{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...","(47.6197, -122.33848)","(47.6197, -122.33981)",01/16/2019 07:05:11,01/16/2019 12:02:33,01/16/2019 07:05:11
9,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,Seattle,Here Maps API,critical,"{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...","(47.6197, -122.33981)","(47.6197, -122.33848)",01/16/2019 07:05:11,01/16/2019 12:02:33,01/16/2019 07:05:11
10,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,"{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...","(47.57873, -122.12206)","(47.57826, -122.12131)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
11,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,{},"(47.61406, -122.34784)","(47.56724, -122.33946)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:12
12,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,"{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...","(47.634251, -122.136404)","(47.635163, -122.132435)",06/14/2018 18:02:00,02/08/2019 14:00:00,01/15/2019 22:18:52
13,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,Seattle,Here Maps API,critical,"{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...","(47.62203, -122.33587)","(47.62086, -122.33588)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
14,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,{},"(47.61053, -122.345)","(47.61272, -122.34739)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
15,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,"{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...","(47.62798, -122.15722)","(47.62441, -122.1592)",01/16/2019 07:05:11,01/16/2019 12:01:22,01/16/2019 07:05:11
16,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,major,{},"(47.59662, -122.32057)","(47.589236, -122.320843)",01/16/2019 05:01:26,01/20/2019 05:01:13,01/16/2019 05:01:26
17,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,{},"(47.61175, -122.34703)","(47.61028, -122.34481)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
18,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,"{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...","(47.57826, -122.12131)","(47.57873, -122.12206)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
19,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,{},"(47.60329, -122.33495)","(47.60224, -122.33667)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
20,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,Seattle,Here Maps API,critical,"{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...","(47.6197, -122.3359)","(47.61969, -122.33432)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
21,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,"{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...","(47.62441, -122.1592)","(47.62798, -122.15722)",01/16/2019 07:05:11,01/16/2019 12:01:22,01/16/2019 07:05:11
22,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,Seattle,Here Maps API,critical,"{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...","(47.61969, -122.33432)","(47.6197, -122.3359)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
23,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,{},"(47.63081, -122.14935)","(47.63297, -122.14305)",01/16/2019 07:05:11,01/16/2019 12:02:41,01/16/2019 07:05:11
24,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,{},"(47.599319, -122.30225)","(47.58453, -122.30293)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
25,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,{},"(47.59379, -122.33583)","(47.59041, -122.33661)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
26,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,Seattle,Here Maps API,critical,"{'ORIGIN': {'ID': '', 'STREET1': {'ADDRESS1': ...","(47.62086, -122.33588)","(47.62203, -122.33587)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
27,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,{},"(47.56653, -122.33929)","(47.61406, -122.34771)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11
28,"('47.644727', '-122.384674')","('47.515083', '-122.118271')",2019-01-15,23:56,-,Here Maps API,critical,{},"(47.57138, -122.34002)","(47.57126, -122.33934)",01/16/2019 07:20:11,01/16/2019 12:19:40,01/16/2019 07:20:11

In [30]:
# Write Output DataFrame to csv file
output_df.to_csv('../data/2-interim/here_maps_output_' + \
                 time.strftime('%Y-%m-%d-%I%p'), index=False)